.heading {
  margin-top: 100px;
  padding: 40px;
  background-color: var(--mainColor);
  color: white;
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
  margin-bottom: 50px;
}
.container {
  display: flex;
  row-gap: 50px;
  column-gap: 40px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.container img {
  border-radius: 5px;
}
@media screen and (max-width: 1299px) {
  .container img:nth-child(1),
  .container img:nth-child(4) {
    width: 50vw;
    height: 300px;
  }
  .container img:nth-child(2),
  .container img:nth-child(3) {
    width: 40vw;
    height: 300px;
  }
}
@media screen and (max-width: 1000px) {
  .container img:nth-child(1),
  .container img:nth-child(4) {
    width: 45vw;
    height: 250px;
  }
  .container img:nth-child(2),
  .container img:nth-child(3) {
    width: 35vw;
    height: 250px;
  }
}
@media screen and (max-width: 900px) {
  .container {
    flex-direction: column;
  }
  .container img {
    width: 80vw !important;
    height: auto !important;
  }
}
