.contactContainer{
    margin-top: var(--size12);
    display: flex;
    align-items: center;
    justify-content: center;
    row-gap: var(--size4);
    flex-direction: column;
    font-family: var(--mainFont);
}
.contactSubContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: var(--size13);
    margin-top: var(--size10);
}
@media screen and (max-width:1000px) {
    .contactSubContainer{
        flex-direction: column-reverse;
        row-gap: var(--size10);
    }
}